.fishes {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 5;
}

.fish {
  position: absolute;
  width: 40px;
  height: auto;
  animation: swim linear infinite;
}

/* Farklı konum ve hız */
.fish:nth-child(1){ top:20%; left:-50px; animation-duration:12s; }
.fish:nth-child(2){ top:35%; left:-60px; animation-duration:15s; }
.fish:nth-child(3){ top:50%; left:-70px; animation-duration:18s; }
.fish:nth-child(4){ top:25%; left:-55px; animation-duration:14s; }
.fish:nth-child(5){ top:60%; left:-65px; animation-duration:17s; }
.fish:nth-child(6){ top:70%; left:-45px; animation-duration:13s; }
.fish:nth-child(7){ top:15%; left:-60px; animation-duration:19s; }
.fish:nth-child(8){ top:40%; left:-50px; animation-duration:15s; }
.fish:nth-child(9){ top:55%; left:-45px; animation-duration:14s; }
.fish:nth-child(10){ top:30%; left:-55px; animation-duration:18s; }
.fish:nth-child(11){ top:65%; left:-60px; animation-duration:20s; }
.fish:nth-child(12){ top:45%; left:-50px; animation-duration:12s; }

@keyframes swim {
  0%{ transform: translateX(0) translateY(0) rotate(0deg); opacity:1; }
  50%{ transform: translateX(120vw) translateY(-20vh) rotate(5deg); }
  100%{ transform: translateX(180vw) translateY(-40vh) rotate(-5deg); opacity:1; }
}
